In [2]:
#1 Find the sum of even numbers only. 
I= [10, 13, 15, 18, 20] 
sum=0
for i in I:
    if i%2==0:
        sum+=i
print(sum)

48

In [ ]:
#3multiply all the numbers

a=[2,3,4]
mul=1
for i in a:
    mul*=i
print(mul)

24

In [ ]:
#3find the diffrence bitwin the numbers max and min

a=[10,20,5,40]
max=0
min=a[0]

for i in a:
    if i>max:
        max=i
    elif i<min:
        min=i
print(min)
print(max)
print(max-min)

5
40
35

In [10]:
#4️. Extract first 4 elements of a list.

a=[1,2,3,4,5,6,7,8]
b=a[:4]
print(b)

[1, 2, 3, 4]

In [11]:
#5️. Print elements in reverse order (without using reverse or slicing)
Input= [1, 2, 3]

a=Input[-1::-1]
print(a)

[3, 2, 1]

In [12]:
#6️. Print numbers greater than 50.
input= [20, 55, 80, 30]
b=[]
for i in input:
    if i>50:
        b.append(i)
print(b)

[55, 80]

In [13]:
#7️. Remove all odd numbers.
i=[2, 3, 4, 5, 6]

for j in i:
    if j%2!=0:
        i.remove(j)
print(i)

[2, 4, 6]

In [29]:
#8️. Convert list of strings to uppercase.
a= ['hello', 'world']

b=[]
for i in a:
    b.append(i.upper())
print(b)

['HELLO', 'WORLD']

In [34]:
#9️. Convert string of numbers into list.
a= "12345"
b=[i for i in a]
print(b)

['1', '2', '3', '4', '5']

In [43]:
#10. Calculate average excluding highest and lowest value.
a=[10, 20, 30, 40, 50]
sorted(a)
b=a[1:len(a)-1]
print(b)
c=0
for i in b:
    c+=i 
c=c/len(b)
print(c)

[20, 30, 40]
30.0

In [ ]:
# 11 Find product of numbers at even index positions.
i=[2, 3, 4, 5, 6]
c=1
for j in range(0, len(i),2):
    c*=i[j]
print(c)

48

In [ ]:
#12️. Count number of vowels in a list of characters.
I= ['a','b','e','i','o']
b=["a","e","i","o","u"]
count=0
for i in range(0,len(I)):
    for j in b:
        if i==j:
            count+=1
print(count)

4

In [ ]:
#13️. Remove all vowels from a list of characters.
I = ['h', 'e', 'l', 'l', 'o']
vowels = ["a", "e", "i", "o", "u"]
I = [char for char in I if char not in vowels]
print(I)

['h', 'e', 'l', 'l', 'o']

In [ ]:
#1️3️. Remove all vowels from a list of characters.
I=['h','e','l','l','o']
b="aeiouAEIOU"
for i in I:
        if i in b:
           I.remove(i)
print(I)

In [63]:
#1️4️. Find second smallest number.
I=[8, 2, 5, 1,1, 9]
I.sort()
c=I[0]
I.remove(I[0])
for i in I:
    if i==c:
        I.remove(i)
print(I[0])

2

In [68]:
#1️5️. Sort list without using sort() or sorted().
I= [5, 2, 8, 1,8,9,10]

a=0
b=0

for i in range(len(I)):
    for j in range(i+1, len(I)):
        if I[i]>I[j]:
            a=I[j]
            I[j]=I[i]
            I[i]=a
print(I)

[1, 2, 5, 8, 8, 9, 10]

In [ ]:
#1️6️. Print diagonal elements from 3x3 matrix.
I=[[1,2,3],[4,5,6],[7,8,9]]

In [69]:
#17Sum of all elements in nested list.
I= [[1, 2], [3, 4], [5, 6]]
c=0
for i in I:
    for j in i:
        c+=j
print(c)

21

In [73]:
#1️8️. Replace all 'a' with 'z' in list of characters.
I= ['a','b','c','a']
j=[]
for i in I:
    if i=="a":
        j.append("z")
    else:
        j.append(i)
        
print(j)

['z', 'b', 'c', 'z']

In [74]:
#19Find number of times '5' appears in list.
I=[5,5,3,2,5]

count = I.count(5)
print(count)

3

In [5]:
#20. Find all pairs with sum greater than 10.
I= [2, 8, 5, 7]
pairs=[]

for i in range(0,len(I)):
    for j in range(1,len(I)):
        if I[i]+I[j]==10:
            a=(I[i],I[j])
            pairs.append(a)
            
print(pairs)

[(2, 8), (5, 5)]

In [77]:
#21 Create list of multiples of 4 upto 40.

a=[]

for i in range(1,41):
    if i%4==0:
        a.append(i)

print(a)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [1]:
#2️2️. Create pattern list [1,2,2,3,3,3,4,4,4,4]

a=[]

for i in range(5):
    for j in range(i):
        a.append((i))
print(a)

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

In [2]:
#2️3️. Find cumulative product.
I=[1, 2, 3, 4]
a=[]
j=1
for i in I:
    j*=i 
    a.append(j)
print(a)

[1, 2, 6, 24]

In [3]:
#2️4️. Count numbers between 50 and 100.
I=[23, 76, 98, 45, 50]
count=0
for i in I:
    if i<=50 and i<=100:
        count+=1
print(count)

3

In [4]:
#2️5️. Create all possible pairs from [1,2] and [3,4]
#Output: [(1,3), (1,4), (2,3), (2,4)]

a=[1,2]
b=[3,4]
c=[]

for i in a:
    for j in b:
        d=(i,j)
        c.append(d)
print(c)

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [7]:
#2️6️. Find common elements between 3 lists.
c= [1,2,3]
a=[2,3,4]
b=[3,4,5]

for i in c:
    for j in a:
        for k in b:
            if i==j and i==k:
                print(i)

3

In [4]:
#2️7️. Find length of longest word in list.
I= ['hi', 'world', 'python']
num=len(I[0])
for i in I:
    if len(i)>num:
        num=len(i)
print(num)
print(i)

6
python

In [ ]:
#2️8️. Replace duplicate values with -1.
I=[1,2,5,2,2,2,3,4,4,3,3,3]
k=""
for i in I:
    if str(i) not in k:
        k+=str(i) 
    else:
        I[I.index(i)]=-1
print(I)

[1, 2, 5, -1, -1, -1, 3, 4, -1, -1, -1, -1]

In [ ]:
I = [1, 2, 5, 2, 2, 2, 3, 4, 4, 3, 3, 3]
seen = set()
for idx in range(len(I)):
    if I[idx] in seen:
        I[idx] = -1
    else:
        seen.add(I[idx])
print(I)

In [1]:
#2️9️. Convert list of integers to list of their squares.
# Input: [2,3,4]
# Output: [4,9,16]

a=[2,3,4]
b=[i**2 for i in a]
print(b)

[4, 9, 16]

In [9]:
#3️0️. Split list into 2 halves.
a=[1,2,3,4,5,6]
b=[]
c=[]
d=[]
for i in range(len(a)):
    if i<len(a)/2:
        b.append(a[i])
    else:
        c.append(a[i])
d.append(b)
d.append(c)
print(tuple(d))

([1, 2, 3], [4, 5, 6])

In [10]:
# 31️. Count how many numbers are divisible by 5.
# Input: [5, 10, 13, 20, 7]
# Output: 3

a=[5,10,13,20,7]
count=0
for i in a:
    if i%5==0:
        count+=1
print(count)

3

In [12]:
# 32️. Replace negative numbers with 0.
# Input: [2, -3, 5, -6]
# Output: [2, 0, 5, 0]

a=[2,-3,5,-6]
for i in range(len(a)):
    if a[i]<0:
        a[i]=0
print(a)

[2, 0, 5, 0]

In [14]:
# 33️. Find product of numbers at odd index positions.
# Input: [3, 4, 5, 6]
# Output: 4×6 = 24
a=[3,4,5,6]
b=1
for i in range(len(a)):
    if i%2!=0:
        b*=a[i] 
print(b)

24

In [ ]:
# 34️. Find sum of digits of all numbers in list.
# Input: [23, 45, 67]
# Output: 2+3+4+5+6+7 = 27