In [2]:
#floor
import math as mt
print(mt.floor(35.25))

35

In [3]:
#pow
print(mt.pow(2,4))

16.0

In [8]:
#sqrt cbrt
print(mt.sqrt(9))
print(mt.cbrt(8))
print(mt.fsum([5,6,7,8,9]))


dir(mt)

3.0
2.0
35.0

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fma',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [13]:
print(mt.cos(mt.degrees(30)))
print(mt.degrees(30))
print(mt.frexp(30))

-0.9121880689272984
1718.8733853924696
(0.9375, 5)

In [ ]:
from datetime import datetime
dt=datetime.today()

print(dt.time())

11:19:36.521715

In [36]:
dd= datetime.today()

print(dd.strftime("%a"))
print(dd.strftime("%A"))
print(dd.strftime("%b"))
print(dd.strftime("%B"))
print(dd.strftime("%c"))
print(dd.strftime("%C"))
print(dd.strftime("%d"))
print(dd.strftime("%D"))
print(dd.strftime("%e"))
print(dd.strftime("%E"))
print(dd.strftime("%f"))
print(dd.strftime("%F"))
print(dd.strftime("%g"))
print(dd.strftime("%G"))
print(dd.strftime("%h"))
print(dd.strftime("%H"))
print(dd.strftime("%i"))
print(dd.strftime("%I"))
print(dd.strftime("%j"))
print(dd.strftime("%J"))
print(dd.strftime("%k"))
print(dd.strftime("%K"))
print(dd.strftime("%l"))
print(dd.strftime("%L"))
print(dd.strftime("%m"))
print(dd.strftime("%M"))
print(dd.strftime("%n"))
print(dd.strftime("%N"))

Fri
Friday
Jul
July
Fri Jul  4 11:28:09 2025
20
04
07/04/25
 4

ValueError: Invalid format string

In [41]:
import calendar
print(calendar.calendar(2025))

                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31