In [1]:
import pandas as pd
import numpy as np
import nltk

# Bag Of Words

In [2]:
df=pd.DataFrame({
    'text':["vinit is a good boy",
    "rahul is a bad boy",
    "vinet like holiday",
    'welcom is a flop movie'],
    'Lable':[1,0,1,0]
})

In [3]:
from sklearn.feature_extraction.text import CountVectorizer
c_vector=CountVectorizer()
cv_df=c_vector.fit_transform(df['text'])

In [4]:
print(c_vector.vocabulary_)

{'vinit': 10, 'is': 5, 'good': 3, 'boy': 1, 'rahul': 8, 'bad': 0, 'vinet': 9, 'like': 6, 'holiday': 4, 'welcom': 11, 'flop': 2, 'movie': 7}

In [5]:
cv_df.toarray()

array([[0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0],
       [1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1]], dtype=int64)

In [6]:
c_vector.transform(['bad boy pushpa'])

<1x12 sparse matrix of type '<class 'numpy.int64'>'
	with 2 stored elements in Compressed Sparse Row format>

# N- gram technik

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
ng_vector=CountVectorizer(ngram_range=(2,2))
ng_df=ng_vector.fit_transform(df['text'])

In [8]:
print(ng_vector.vocabulary_)

{'vinit is': 9, 'is good': 5, 'good boy': 2, 'rahul is': 7, 'is bad': 3, 'bad boy': 0, 'vinet like': 8, 'like holiday': 6, 'welcom is': 10, 'is flop': 4, 'flop movie': 1}

# TF IDF

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf_vector=TfidfVectorizer() 
tf_df=tf_vector.fit_transform(df['text']).toarray()

In [10]:
tf_df

array([[0.        , 0.4530051 , 0.        , 0.57457953, 0.        ,
        0.36674667, 0.        , 0.        , 0.        , 0.        ,
        0.57457953, 0.        ],
       [0.57457953, 0.4530051 , 0.        , 0.        , 0.        ,
        0.36674667, 0.        , 0.        , 0.57457953, 0.        ,
        0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.57735027,
        0.        , 0.57735027, 0.        , 0.        , 0.57735027,
        0.        , 0.        ],
       [0.        , 0.        , 0.5417361 , 0.        , 0.        ,
        0.34578314, 0.        , 0.5417361 , 0.        , 0.        ,
        0.        , 0.5417361 ]])

# word 2 vec

In [34]:
import pandas as pd

In [35]:
df=pd.read_csv("Atul.csv")

In [36]:
df

   Unnamed: 0  id category                                        text
0           0   1   sports        the batsman hit a six over midwicket
1           1   2   sports   the striker scored two goals in the match
2           2   3   sports   the bowler took a wicket and fans cheered
3           3   4     food      i love eating fresh apples and bananas
4           4   5     food     the chef cooked pasta with tomato sauce
5           5   6     food  the bakery sells bread and delicious cakes

In [37]:
df.drop(['id', 'Unnamed: 0'], axis=1, inplace=True)

In [38]:
from nltk.tokenize import word_tokenize
import nltk

nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\vasud\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [39]:
df['token_text'] = df['text'].apply(lambda x: word_tokenize(x.lower()))

In [40]:
df

,category,text,token_text
0,sports,the batsman hit a six over midwicket,"[the, batsman, hit, a, six, over, midwicket]"
1,sports,the striker scored two goals in the match,"[the, striker, scored, two, goals, in, the, ma..."
2,sports,the bowler took a wicket and fans cheered,"[the, bowler, took, a, wicket, and, fans, chee..."
3,food,i love eating fresh apples and bananas,"[i, love, eating, fresh, apples, and, bananas]"
4,food,the chef cooked pasta with tomato sauce,"[the, chef, cooked, pasta, with, tomato, sauce]"
5,food,the bakery sells bread and delicious cakes,"[the, bakery, sells, bread, and, delicious, ca..."

In [41]:
df.drop('text',axis = 1)

  category                                         token_text
0   sports       [the, batsman, hit, a, six, over, midwicket]
1   sports  [the, striker, scored, two, goals, in, the, ma...
2   sports  [the, bowler, took, a, wicket, and, fans, chee...
3     food     [i, love, eating, fresh, apples, and, bananas]
4     food    [the, chef, cooked, pasta, with, tomato, sauce]
5     food  [the, bakery, sells, bread, and, delicious, ca...

In [19]:
df[['category', 'token_text']]

  category                                         token_text
0   sports       [the, batsman, hit, a, six, over, midwicket]
1   sports  [the, striker, scored, two, goals, in, the, ma...
2   sports  [the, bowler, took, a, wicket, and, fans, chee...
3     food     [i, love, eating, fresh, apples, and, bananas]
4     food    [the, chef, cooked, pasta, with, tomato, sauce]
5     food  [the, bakery, sells, bread, and, delicious, ca...

In [21]:
import gensim

In [42]:
from gensim.models import Word2Vec
Model = Word2Vec(df['token_text'].tolist(),vector_size = 100,sg =1,min_count=1)

In [45]:
print("Batsman Similarity",Model.wv.most_similar("batsman",topn=3))
print("bakery Similarity",Model.wv.most_similar("bakery",topn=3))
print("goals Similarity",Model.wv.most_similar("goals",topn=2))

Batsman Similarity [('bowler', 0.1783093959093094), ('six', 0.1314806044101715), ('striker', 0.07499625533819199)]
bakery Similarity [('bowler', 0.17133139073848724), ('bread', 0.1566610485315323), ('match', 0.1472523808479309)]
goals Similarity [('bananas', 0.18203969299793243), ('a', 0.17279359698295593)]

In [33]:
print(list(Model.wv.key_to_index.keys())[:50])  # Show first 50 words

['the']

In [ ]:
from datasets import load_dataset

ds = load_dataset("yuncongli/chat-sentiment-analysis")

ModuleNotFoundError: No module named 'datasets'